// High Order Component
function fetchTodos(WrappedComponent) {
  return class extends Component {
    componentDidMount() {
      fetch('api/todos.json')
      .then((response) =>  {
          return response.json();
      }).then((results) => {
          this.props.fetchComplete(results);
      }).catch((err) =>  {
          this.props.fetchError(err);
      });
    }
    render() {
      return (
        <WrappedComponent {...this.props} />
      );
    }
  }
}