...
render() {
  const { array } = this.props;
  return (
    <div>
      {
          if (array.length === 0) {
            return (
              <div>No element! Try creating one!</div>
            );
          } else {

            array.map((item, idx) => {
              return (
                <Element item={item} />
              )
            })
          }
       }
      </div>
  )
}