...

render() {
  const { array } = this.props;
  let component;
  if (array.length === 0) {
    component = <div>No element! Try creating one!</div>
  } else {
    const elements = [];
    array.map((item, idx) => {
      elements.push(<Element item={item} />);
    });
    component = elements;
  }
  return <div>{component}</div>;
}