// the todos reducer receive all actions and return a new todo state
function todos(state = [], action) {
  switch (action.type) {
    case 'ADD_TODO':
        return state.concat([{ label: action.label, completed: false }]);
    case 'TOGGLE_TODO':
        return state.map((todo, index) => action.index === index ? { label: todo.label, completed: !todo.completed } : todo
    )
    default:
        return state;
    }
}