// the todos reducer receive all actions and return a new todo state
function todos(state = [], action) {
  switch (action.type) {
    case 'ADD_TODO':
        return state.concat([{ label: action.label, completed: false }]);
    case 'TOGGLE_TODO':
        const newState = state.concat();
        newState[action.index].complete = !newState[action.index].complete;
        return newState;
    default:
        return state;
    }
}