// the filter reducer receive all actions and return a new filter state
function visibilityFilter(state = 'none', action) {
  if (action.type === 'SET_VISIBILITY_FILTER') {
    return action.filter;
  } else {
    return state;
  }
}
