import { combineReducers, createStore } from 'redux';
import { visibilityFilter } from './reducers/visibilityFilter';
import { todos } from './reducers/todos';

const reducer = combineReducers({ visibilityFilter, todos });
const store = createStore(reducer);

export default store
